# **Import data from a CSV**
In this tutorial, you will load a CSV file from your computer or Google Drive into a Pandas DataFrame.

# **Option 1**: Import a local CSV file

In [ ]:
# Run this line of code, click [Choose Files] when prompted 
  # Download the Water_Level_Logger_II.csv file from Google Drive onto your computer for this tutorial
  # this is necessary because Google Colaboratory does not have direct access to your hard drive...
  # wouldn't be necessary if using a Jupyter Notebook or other Python implementation.

from google.colab import files
uploaded = files.upload()

Saving Water_Level_Logger_II.csv to Water_Level_Logger_II.csv

In [ ]:
# Convert CSV file to pandas dataframe 

# Replace the CSV file in brackets ('Water_Level_Logger_II.csv') with your file name 

# Import dependencies 
import pandas as pd
import io

# Convert the CSV file to a Pandas dataframe
df = pd.read_csv(io.BytesIO(uploaded['Water_Level_Logger_II.csv']))

# Print the dataframe
print(df)

                                                                                                                                                                                                                                    Plot Title: Water Level Logger II
#     Date Time, GMT-07:00 Abs Pres, kPa (LGR S/N: 20715532, SEN S/N: 2071... Temp, °C (LGR S/N: 20715532, SEN S/N: 20715532) Coupler Detached (LGR S/N: 20715532) Coupler Attached (LGR S/N: 20715532) Stopped (LGR S/N: 20715532)   End Of File (LGR S/N: 20715532)
1     08/12/20 03:24:35 PM 98.419                                             24.158                                          NaN                                  NaN                                  NaN                                                       NaN
2     08/12/20 03:24:56 PM NaN                                                NaN                                             Logged                               NaN                                  NaN                                                       NaN
3     08/12/20 03:54:35 PM 101.228                                            26.195                                          NaN                                  NaN                                  NaN                                                       NaN
4     08/12/20 04:24:35 PM 104.154                                            25.513                                          NaN                                  NaN                                  NaN                                                       NaN
...                                                                                                                                                                                                                                                               ...
18918 09/10/21 03:04:12 PM NaN                                                NaN                                             NaN                                  Logged                               NaN                                                       NaN
18919 09/10/21 03:04:26 PM NaN                                                NaN                                             Logged                               NaN                                  NaN                                                       NaN
18920 09/10/21 03:24:35 PM 98.689                                             26.000                                          NaN                                  NaN                                  NaN                                                       NaN
18921 09/10/21 03:34:44 PM NaN                                                NaN                                             NaN                                  Logged                               NaN                                                       NaN
18922 09/10/21 03:34:52 PM NaN                                                NaN                                             NaN                                  NaN                                  Logged                                                 Logged

[18923 rows x 1 columns]

In [ ]:
# View the first 5 rows of the dataframe 
df.head()

                                                                                                                                                                                                                                Plot Title: Water Level Logger II
# Date Time, GMT-07:00 Abs Pres, kPa (LGR S/N: 20715532, SEN S/N: 2071... Temp, °C (LGR S/N: 20715532, SEN S/N: 20715532) Coupler Detached (LGR S/N: 20715532) Coupler Attached (LGR S/N: 20715532) Stopped (LGR S/N: 20715532)   End Of File (LGR S/N: 20715532)
1 08/12/20 03:24:35 PM 98.419                                             24.158                                          NaN                                  NaN                                  NaN                                                       NaN
2 08/12/20 03:24:56 PM NaN                                                NaN                                             Logged                               NaN                                  NaN                                                       NaN
3 08/12/20 03:54:35 PM 101.228                                            26.195                                          NaN                                  NaN                                  NaN                                                       NaN
4 08/12/20 04:24:35 PM 104.154                                            25.513                                          NaN                                  NaN                                  NaN                                                       NaN

# **Option 2**: Import a CSV file from Google Drive

In [ ]:
# Mount your Google Drive to CoLab (this code will open a separate browser and prompt an authentication step)
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Import dependencies
import pandas as pd 

# Import CSV file and convert to a Pandas dataframe
  # The Google Drive file path here is 'gdrive/My Drive/Name of Drive/name of file'
  # The Water_Level_Logger_II.csv file is included in this Google Drive 
  # To use this code for a different file, replace the name of your folder and file in the path 
df=pd.read_csv('gdrive/My Drive/Google CoLab Files/Water_Level_Logger_II.csv')

# Print the dataframe
print(df)

                                                                                                                                                                                                                                    Plot Title: Water Level Logger II
#     Date Time, GMT-07:00 Abs Pres, kPa (LGR S/N: 20715532, SEN S/N: 2071... Temp, °C (LGR S/N: 20715532, SEN S/N: 20715532) Coupler Detached (LGR S/N: 20715532) Coupler Attached (LGR S/N: 20715532) Stopped (LGR S/N: 20715532)   End Of File (LGR S/N: 20715532)
1     08/12/20 03:24:35 PM 98.419                                             24.158                                          NaN                                  NaN                                  NaN                                                       NaN
2     08/12/20 03:24:56 PM NaN                                                NaN                                             Logged                               NaN                                  NaN                                                       NaN
3     08/12/20 03:54:35 PM 101.228                                            26.195                                          NaN                                  NaN                                  NaN                                                       NaN
4     08/12/20 04:24:35 PM 104.154                                            25.513                                          NaN                                  NaN                                  NaN                                                       NaN
...                                                                                                                                                                                                                                                               ...
18918 09/10/21 03:04:12 PM NaN                                                NaN                                             NaN                                  Logged                               NaN                                                       NaN
18919 09/10/21 03:04:26 PM NaN                                                NaN                                             Logged                               NaN                                  NaN                                                       NaN
18920 09/10/21 03:24:35 PM 98.689                                             26.000                                          NaN                                  NaN                                  NaN                                                       NaN
18921 09/10/21 03:34:44 PM NaN                                                NaN                                             NaN                                  Logged                               NaN                                                       NaN
18922 09/10/21 03:34:52 PM NaN                                                NaN                                             NaN                                  NaN                                  Logged                                                 Logged

[18923 rows x 1 columns]

In [ ]:
# View the first 5 rows of the dataframe 
df.head()

                                                                                                                                                                                                                                Plot Title: Water Level Logger II
# Date Time, GMT-07:00 Abs Pres, kPa (LGR S/N: 20715532, SEN S/N: 2071... Temp, °C (LGR S/N: 20715532, SEN S/N: 20715532) Coupler Detached (LGR S/N: 20715532) Coupler Attached (LGR S/N: 20715532) Stopped (LGR S/N: 20715532)   End Of File (LGR S/N: 20715532)
1 08/12/20 03:24:35 PM 98.419                                             24.158                                          NaN                                  NaN                                  NaN                                                       NaN
2 08/12/20 03:24:56 PM NaN                                                NaN                                             Logged                               NaN                                  NaN                                                       NaN
3 08/12/20 03:54:35 PM 101.228                                            26.195                                          NaN                                  NaN                                  NaN                                                       NaN
4 08/12/20 04:24:35 PM 104.154                                            25.513                                          NaN                                  NaN                                  NaN                                                       NaN